.navbar {
    background-color: #000;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

.navbar img {
    border-radius: 50%;
    filter: drop-shadow(0px 0px 2px #fff);
    margin: 4px;
    width: 50px;
}

.hamburger {
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    margin: 10px;
}

.navigation {
    color: #000;
    display: flex;
    flex-direction: column;
    padding-top: 55px;
    position: fixed;
    text-align: right;
    height: fit-content;
    width: fit-content;
    z-index: 1000;
    margin: 0;
}

.navigation a {
    animation: fadeInWords ease-in-out 1s forwards;
    background-color: #ffffff9c;
    margin: 0;
}

.navigation a:nth-last-child(1) {
    border-bottom-left-radius: 45px;
}

.active {
    text-decoration: none;
    font-weight: 700;
}

.navigation a,
.navigation a:visited {
    text-decoration: none;
    color: inherit;
    padding: 8px;
    cursor: pointer;
}

@keyframes fadeInWords {
    from {
      opacity: 0;
      transform: translateY(-300px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeOutWords {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-300px);
    }
}