.twoColumnTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textWrapper, .imageWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px;
}

.imageWrapper img {
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .twoColumnTextContainer {
        flex-direction: row;
        justify-content: center;
    }

    .imageWrapper {
        align-items: center;
        display: flex;
        flex: 1;
    }
    .imageWrapper img {
        width: 500px;
    }
}