.twoColumnTextContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.textWrapper, .imageWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 32px;
}

.imageWrapper img {
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .twoColumnTextContainer {
        align-items: center;
        flex-direction: row;
    }

    .imageWrapper {
        align-items: center;
        display: flex;
        flex: 1;
    }

    .imageWrapper img {
        max-width: 80%;
        width: 450px;
    }

    .textWrapper {
        flex: 1;
        padding-right: 32px;
    }
}