.historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.historyContainer img {
    height: 100px;
    border: 1px solid red;
}

.contentContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 24px;
    text-align: center;
}

.contentContainer * {
    flex: 1;
    margin: 8px;
    padding: 16px;
}

.titleContainer {
    display: flex;
    background-image: url('/Public/Images/greenstrokes.jpg');
    border-radius: 10px;
    color: #fff;
    width: 100%;
    height: 100%;
    align-items: center;
}

@media screen and (min-width:768px) {
    .contentContainer {
        flex-direction: row;
    }
}