html {
    background-color: #DDE5DD;
}
.upperContainer {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.boxOne {
    background-color: #4B7492;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.boxTwo {
    background-color: #A6A84D;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.boxThree {
    background-color: #66437B;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.titleOne {
    text-align: center;
    font-size: 24px;
}

.titleTwo {
    text-align: center;
    font-size: 24px;
}

.titleThree {
    text-align: center;
    font-size: 24px;
}

.lowerContainer {
    display: flex;
    margin:30rem 12rem;

}
p {
    text-align: center;
}

h4 {
    text-align: center;
    font-weight: normal;
    padding: 10px;
}

.fiveValuesText,
.sideText {
    width: 48%;
    text-align: start;
    margin-left: 19%;
}

h1 {
    font-weight: normal;
}

hr.lines {
    border-top: 1px solid black;
    top: 42%;
    position: absolute;
    width: 99%;
}

@media (min-width: 768px) {
    .upperContainer {
        padding-top: 5rem; 
    }

    .upperContainer {
        display: flex;
        flex-direction: row;
        position: absolute;
        justify-content: space-evenly;
        padding-top: 3rem;
    }


}




