html {
    background-color: #DDE5DD;
}

.boxOne {
    background-color: #4B7492;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.boxTwo {
    background-color: #A6A84D;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.boxThree {
    background-color: #66437B;
    width: 22%;
    margin: 12px;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #EDEADE;
}

.upperContainer {
    position: absolute;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.lowerContainer {
    display: flex;
    margin: 20rem 9rem;

}

.titleOne {
    text-align: center;
    font-size: 24px;
}

.titleTwo {
    text-align: center;
    font-size: 24px;
}

.titleThree {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

h4 {
    text-align: center;
}

.fiveValuesText,
.sideText {
    width: 48%;
    text-align: start;
    margin-left: 19%;
}

.lines {
    border-top: 1.3px solid #8E8E8E;
}

