:root {
    --artifact-bg-color: rgb(65, 65, 65);
}

.artifactContainer {
    background-color: var(--artifact-bg-color);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
}
