html {
    background-color: #E5DDDD;
}

img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; 
}

.textContainer {
    background-color: #594646;
    color: #E5DDDD;
    border-radius: 20px;
    width: 60%;
    padding: 3.2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.1rem;
}

.title {
    font-weight: normal;
    font-size: 2.5rem;
}

.smallText {
    font-size: large;
    font-weight: bold;
    text-align: left;
    font-size: 1.2rem;
}

a {
    color: #E5DDDD;
}

@media screen and (min-height: 768px){
    img {
        width: 100%; 
    }

    .textContainer {
        width: 80%; 
        padding: 2rem; 
        font-size: 1rem; 
    }

    .container {
        display: flex;
        flex-direction: column;
    }
   
}

    

